html, body {
  height: 100%;
  width: 100%;
}

img {
  width: 60%;
  text-align: center;
}

/* * {
  background-color: #cfcfcf
} */

header {
  color: #050505;
  text-align: center
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



.to-the-left {
  text-align: center
}
