
/* color scheme and font for overall page */
* {
font-family: Arial;
background-color: #212121;
color: white;
}

h1, h2 {
  padding: 10px  
}

/* centering the image on the page */
img {
  text-align: center;
}

/* centering the header on the page */
header {
  text-align: center
}
/* centering the h3 header and the footer on the page */
h3, footer {
  text-align: center
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* styled links */
a:link {
  color: purple
}
a:visited {
  color: orange
}
a:hover {
  color: red
}
a:active {
  color:green
}
